@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

:root{
    --font: "Poppins"
}

*{
    margin: 0;
    padding: 0;
}

#login-page{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#login-page #main-image{
    overflow: hidden;
    flex: 1;
}

#login-page #main-image img{
    width: 100%;
}

#login-section{
    padding: 5em;
    flex: 1;
    display: flex;
    flex-direction: column;justify-content: center;
}

#login-section h1{
    transform: translate(-3%,0%);
    font-family: var(--font);
    font-size: 200px;
    line-height: 0.8em;
    margin-bottom: 0.2em;
}

#login-section p{
    font-size: 30px;
    font-family: var(--font);
}

#login-section p #imp{
    font-weight: 800;
    color: purple;
}