

#profile-page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#profile-page > h1{
    width: 40%;
    margin: 50px;
    position: absolute;
    color: white;
    font-size: 60px;
    font-family: 'Lato';
    font-weight: 100;
}

#cover-image-wrapper{
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#cover-image-wrapper img{
    top: 50%;
    transform: scale(1) translate(0%,-50%);
    position: absolute;
    z-index: -1;
    opacity: 1;
    filter: contrast(1.2) brightness(0.6);
    width: 100%;
    transition: transform 0.4s ease-in-out,opacity 0.5s ease-in-out;
}

#cover-image-wrapper:hover img{
    transform: translate(0%,-50%) scale(1.02);
    opacity: 0.8;
}

#edit-cover-image{
    width: 50%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0%,150%);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#cover-image-wrapper:hover #edit-cover-image{
    transform: translate(0%,0%);
}

#edit-cover-image input{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 30%;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Lato';
    text-align: center;
    transition: border-radius 0.5s ease-in-out,width 0.4s ease-in-out;
}

#edit-cover-image input:focus{
    width: 50%;
    border: none;
    outline: none;
    border-radius: 0px;
}

#save-cover-image{
    margin: 10px;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    background-color: black;
    cursor: pointer;
    transition: color 0.2s ease-in-out,background-color 0.3s ease-in-out;
}

#save-cover-image:hover{
    color: black;
    background-color: orange;
}

#save-cover-image h1{
    pointer-events: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato';
}

#profile-data-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100vw;
}

#profile-data{
    padding: 2em;
    margin: 2em;
    height: 50%;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: flex-end;
    width: auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.534);
    backdrop-filter: blur(5px);
}

#profile-image{
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    height: 10em;
    width: 10em;
    border-radius: 10px;
    overflow: hidden;
}

#profile-image img{
    height: 100%;
}

#userName{
    font-size: 22px;
    font-weight: 900;
    font-family: 'Lato';
}

#userEmail{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato';
}