

#profile-page{
    display: flex;
    flex-direction: column;
}

#profile-page-heading-wrapper > h1{
    text-align: left;
    margin: 50px;
    width: 60%;
    height: 100%;
    position: relative;
    color: white;
    font-size: 60px;
    font-family: 'Lato';
    font-weight: 100;
}

#cover-image-wrapper{
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#cover-image-wrapper img{
    top: 50%;
    transform: scale(1) translate(0%,-50%);
    position: absolute;
    z-index: -1;
    opacity: 1;
    filter: contrast(1.2) brightness(0.6);
    width: 100%;
    transition: transform 0.4s ease-in-out,opacity 0.5s ease-in-out;
}

#cover-image-wrapper:hover img{
    transform: translate(0%,-50%) scale(1.02);
    opacity: 0.8;
}

#edit-cover-image{
    width: 50%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0%,150%);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#cover-image-wrapper:hover #edit-cover-image{
    transform: translate(0%,0%);
}

#edit-cover-image input{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 30%;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Lato';
    text-align: center;
    transition: border-radius 0.5s ease-in-out,width 0.4s ease-in-out;
}

#edit-cover-image input:focus{
    width: 50%;
    border: none;
    outline: none;
    border-radius: 0px;
}

#save-cover-image{
    margin: 10px;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    background-color: black;
    cursor: pointer;
    transition: color 0.2s ease-in-out,background-color 0.3s ease-in-out;
}

#save-cover-image:hover{
    color: black;
    background-color: orange;
}

#save-cover-image h1{
    pointer-events: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato';
}

#profile-data-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60vh;
    pointer-events: none;
}

#profile-data{
    padding: 2em;
    margin: 2em;
    height: 50%;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: left;
    width: auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.534);
    backdrop-filter: blur(5px);
    pointer-events: all;
}

#profile-image{
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    height: 10em;
    width: 20em;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



#profile-image img{
    width: 100%;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.5s ease-in-out,opacity 0.3s ease-in-out;
}

#profile-image:hover img{
    transform: scale(1.1);
    opacity: 0.7;
}

#edit-profile-image{
    height: 100%;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0%,100%);
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#profile-image:hover #edit-profile-image{
    transform: translate(0%,0%);
}

#edit-profile-image input{
    position: relative;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    font-family: 'Lato';
}

#edit-profile-image input:focus{
    outline: none;
}

#save-profile-image{
    background-color: black;
    border-radius: 20px;
    margin: 10px 0;
}

#save-profile-image h1{
    color: white;
    font-size: 12px;
    padding: 5px 20px;
    pointer-events: none;
}

#userName{
    font-size: 22px;
    font-weight: 900;
    font-family: 'Lato';
}

#userEmail{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato';
}

#shit{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 2fr);
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 50px;
    height: 100%;
}

.bookslist{
    padding: 20px;
    border-radius: 20px;
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto ,1fr);
    background-color: black;
}

#book-list-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

#profile-books #book-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#profile-books #book-card img{
    width: 20em;
    height: 100%;
    border-radius: 20px;
}

#book-card h1{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

#book-image{
    position: relative;
}

#book-image #book-options{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#book-options h1{
    margin: 40px;
    background-color: orange;
    padding: 20px;
    color: black;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}

#book-options h1:first-child{
    transform: translate(0%,-200%)
}

#book-options h1:last-child{
    transform: translate(0%,200%);
}

#book-options:hover h1{
    transform: translate(0%,0%);
}

